/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics */
body {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  user-select: none;
  text-align: center;
}

/* Just some general syling of the page for aesthetics */
h1 {
  margin-top: 5%;
	font-size: 6em;
}

h2 {
  margin: 50px;
	font-family: Helvetica, sans-serif;
	font-size: 5em;
	font-weight: bold;
	user-select: none;
  text-align: center;
  margin-top: 50%;
}

div {
}

/* Redacted elements need to be blanked out */
.game-elements {
  display: none;
}

/* Redacted elements need to be blanked out */
.boulder {
  display: block;
  width: 20%;
  height: 20%;
  margin: auto;
}

/* Redacted elements need to be blanked out */
.ground {
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.go_left {
  left: 2000px;
}
.go_left {
  right: 2000px;
}
