/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

body {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5%;
  margin: auto;
  align-items: center;
}

.imageDisplay {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
}

.circlesButton {
  display: none;
}

.refreshButton {
  display: none;
}

#imageSrc {
  display: none;
}
