/*********************************************

Synthesthesia CSS

**********************************************/

/* General syling */
body {
  font-family: 'Aclonica';
  font-size: 22px;
  background-image: url('../assets/images/background.png');
  color: white;
  text-shadow: 3px 3px #000000;
  text-align: center;
  padding: 1%;
  margin: auto;
}

.imageDisplay {
  max-width: 500px;
  max-height: 400px;
  margin: auto;
}

/* Initially hidden, shown when appropriate */
.circlesButton {
  display: none;
}

.circlesButton:hover {
  color: grey;
}

/* Initially hidden, shown when appropriate */
.refreshButton {
  display: none;
}

.refreshButton:hover {
  color: grey;
}

/* Pushing it over to the right because I want the button to be in the middle */
.input {
  padding-left: 12%;
  padding-bottom: 2%;
}

/* Always hidden, acts as a source */
#imageSrc {
  display: none;
}
